<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Favourite film form</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Ваш любимый фильм</h1>
<form action="/film-form" method="post">
  <input type="text" name="First_Name" placeholder="Введите имя" class="form-control"><br>
  <input type="text" name="Last_Name" placeholder="Введите фамилию" class="form-control"><br>
  <input type="text" name="Favourite_Film" placeholder="Введите любимый фильм" class="form-control"><br>
  <button type="submit" class="btn btn-success">Отправить</button>
</form>
</body>
</html>